@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

#sections {
    position: relative;
    display: inline-block;
    width: 500px;
    top: 60px;
    margin-right: 50px;
    z-index: 50;

}

#bottom {
    font-family: "Open Sans";
    margin-bottom: 40px;

}

.categoryLegend {
    font-family: "Open Sans";
}

.custom-select {
    font-size: 14pt;
    font-family: "Open Sans";
    width: 100%;
}

.check-box-p {
    text-align: right;
}

.step {
    margin-top: 100px;
    margin-left: 50px;

    height: 700px;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.4em;

    /* box-shadow: -3px 3px 15px #939393;
    background-color: rgba(255, 255, 255, .5); */

    /* text-align: justify; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

h1,
h2 {
    font-weight: 700;
    text-align: left;
    line-height: 45px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}



#graphic {
    margin: auto;
    width: 1500px;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#viz {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin-left: 0;
    height: 100%;
    width: 100%;
    font-family: "Open Sans";
    pointer-events: none;

}

.graph-layer {
    pointer-events: all;
}

.tick line {
    stroke: 'red'
}

#spec-text {
    font-size: 0.8em;
}

#tooltip {
    position: absolute;
    display: none;
    background: rgba(255, 255, 255, .9);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #939393;
    color: black;
    padding: 6px;
    font-family: "Open Sans";
    font-size: 1.1em;
    max-width: 400px;
    z-index: 100;
}

select {
    font-family: "Open Sans";
    font-size: medium;
    font-weight: bold;
}

b {
    font-weight: bolder;
}


svg circle:hover {
    cursor: pointer;
}

svg rect:hover {
    cursor: pointer;
}


.axis-layer text {
    font-family: "Merriweather";
    font-style: italic;
    font-size: 14pt;
}


.y-axis-title {
    font-family: "Merriweather";
    font-style: italic;
    text-anchor: end;
    font-size: 12pt;
    color: 'black'
}

.additional-info line {
    stroke-width: 2px;
    stroke: red;
    stroke-dasharray: 5, 5
}

.additional-info text {
    font-size: 10pt;
}